@font-face {
	font-family: "Gattica";
	src:  url("Gattica-Light100.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	}

@font-face {
	font-family: "Druk Medium";
	src:  url("Druk-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	}

@font-face {
	font-family: "Druk Wide";
	src: url("Druk-WideMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	}